<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zms.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zms.demo.ui.ArrowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.BatteryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.BellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.FigureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.HandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.LightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.ProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.RibbonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.RippleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.SpectrumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.StarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zms.demo.ui.TextActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>